body{
    text-align: center;
}
.container{
    margin-top: 20px;
}
.bar{
    fill: blue;
    cursor: pointer;
}
.bar:hover{
    fill:#205493;
}
.tooltip {	
position: absolute;			
text-align: center;								
padding: 2px;				
font: 12px sans-serif;		
background: #112E51;	
color:#C1D7F2;
border: 0px;		
border-radius: 8px;			
pointer-events: none;			
}

text {
    color: #205493;
    fill:#205493;
    font-family: sans-serif;
}

#title {
    font-family: sans-serif;
    font-size:2rem;
}
#y-axis line, #y-axis .domain{
    stroke: #C1D7F2;

}